<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <p>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis perferendis voluptatem vero, soluta ipsum dolor nesciunt aliquid voluptatibus eius, aliquam praesentium quas magnam delectus ad consequatur, quod deleniti enim corporis?
        </span>
        <span>
            Esse hic incidunt, asperiores totam placeat, quam dolorem voluptatibus et, enim ut nulla. Dolor doloribus alias quis eligendi harum, inventore expedita. Quaerat illo nam possimus libero excepturi cupiditate eius vero!
        </span>
    </p>
</body>
</html>